
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-size: 700;
    line-height: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1 {
    padding: 40px 80px;

}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color:#fff ;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline:none;
    transition: 0.2s;
}
body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content:center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;  
  height:2px ;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left:20px;


}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#hero{
    background-image:url("../img/backpag.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: #088178;

}
#hero button{
    background-image: url("../img/screch.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight:700 ;
    font-size: 15px;
    }
    #feature{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #feature .fe-box{
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow:20px 20px 34px rgb(0,0,0,0.03) ;
        border: 1px solid#cce7d0;
        border-radius: 4px ;
        margin: 15px 0;

    }
    #feature .fe-box img{
        width: 100%;
        margin-bottom:10px ;

    }
    #feature .fe-box:hover{
        box-shadow:10px 10px 54px rgb(70,62,221,0.1) ;

    }
    #feature .fe-box h8{
        padding: 9px 8px 6px 8px ;
        line-height: 1;
        border-radius:4px ;
        color: #088178;
        background-color:#fddde4;

    }
    #feature .fe-box:nth-child(2) h8{
        background-color: #cdebbc;

    }
    #feature .fe-box:nth-child(3) h8{
        background-color: #e4cd8f;

    }
    #feature .fe-box:nth-child(4) h8{
        background-color: #9ea3eb;

    }
    #product1{
        text-align: center;
    }

#product1 .pro{ width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0 ;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0,0,0,0.2);
    margin: 15px 0 ;
    transition: 0.2s ease;
    position: relative;

}
#product .pro:hover{
    box-shadow: 20px 20px 30px rgb(0,0,0,0.06);

}
#product1 .pro img{
    height: 200px;
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro .des span{
    color: #606063;
    font-size:12px;

}
#product1 .pro .des h5{
    padding-top: 7px;
    color:#1a1a1a ;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);

}
#product1 .pro .des h4{

    padding-top: 7px ;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: #e8f6ea;
    font-weight: 5000;
    color: #088178;
    border: 1px solid #cce7d0;
    border: 20px;
    right: 10px;
  
   
}
#product1 .pro-contener{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap
    

}
#banner{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../img/backimg2.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner h4{
    color: #001;
    font-size: 16px;
}
#banner h2{
    color: #020205;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ecfc0a;
   
}
button.normal:hover{
    background: #e6ecec;
    color: #088180 ;
}
#Importent_News{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
    align-items: center;
    background-image: url("../img/farm3.jpg");
    background-repeat: no-repeat;
    background-position:20% 30% ;
    


}
#Importent_News h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;


}
#Importent_News p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
    

}
#Importent_News .form{

    display: flex;
    width: 40%;

}
#Importent_News p span{
   
    color: #e0ef1a;
    

}
#Importent_News input{
    height: 3.125rem;
    padding: 0.1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;

}
#Importent_News button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;


}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

}
footer h5{
    font-size: 14px;
    padding-bottom: 20px;



}
footer p{
    font-size: 13px;
   margin: 0 0 8px 0;
    


}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
   margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 20px;

}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .follow i:hover,footer a:hover{
    color: #088178;

}
footer .copyright{
   
    width: 100%;
    text-align: center;
}


#page-header{
    background-image : url("../img/cy.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,#page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;

}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}



.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-colom{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetail{
    display: flex;
    margin-top: 20px;
}


#prodetail .single-pro-detail h4{
    padding: 40px 0 20px 0;

}
#prodetail .single-pro-detail h2{
   font-size:26px ;

}
#prodetail .single-pro-detail input{
    display: block;
    padding: 5px 10px;
    margin-bottom:10px ;

}
#prodetail .single-pro-detail button{
    background-color: #088178;
    color: #fff;

}
#prodetail .single-pro-detail input:focus{
    outline: none;

}
#prodetail .single-pro-detail span{
    line-height: 25px;
   
}
#page-header.about-header{
    background-image: url("../img/backfor_about.png");

}
#about-head {
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;

}
#about-head div{
    padding-left: 40px;
}
#about-product{
   text-align: center; 
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.col{
    flex-basis: 30%;
    min-width: 250px;
}
.feature-img{
    
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

}
.smaller-img-row{
    display: flex;
    background: #f5f8f7;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;

}
.smaller{
    position: relative;

}
.smaller img{
    width: 100px;
}
.smaller-img-row p{
    margin-left:20px ;
    color: #707070;
    line-height: 22px;
    font-size: 15px;

}
.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.smaller .play-btn {
    width: 30px;


}
.video-player{
    width:80% ;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
}
video:focus{
    outline: none;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span, #form-details form span{
    font-size: 12px;
}
#contact-details .details h2,#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;

}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{

width: 100%;
height: 100%;
}
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}
#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px ;
    border: 1px solid #e1e1e1;
}
@media (max-width:477px)
 {
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;

    }
    h2{
        font-size: 32px;

    }
    h1{
        font-size: 38px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #Importent_News .form {
    
        width: 100%;
    }
    
    #Importent_News{
        padding: 40px 20px;
    }
    img.logo{
      
            width: 50%;
            height: 2%;
        
    }
    #prodetail{
        display: flex;
        flex-direction: column;
    }
    #prodetail .single-pro-img {
        width: 100%;
        margin-right: 0px;
    }
    #prodetail .single-pro-detail {
        width: 100%;
       
    }
    /*contact page*/
    #contact-details{
       
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
    

   
  
 
}
@media (max-width:799px) {
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
        

    }
    #navbar li{
        margin-bottom:25px ;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;

    }
    #lg-bag{
        display: none;
    }
    #hero {
       
        height: 70vh;
    
        padding: 0 80px;
        background-position: top 30% right 30%;
       
    }
    #feature{
        justify-content: center;
    }
    #feature .fe-box{
        margin: 15px 15px;
    }
    #product1 .pro-contener{
        justify-content: center;

    }
    #product1 .pro{
        margin: 15px;

       
    }
    #banner {
       
        height: 20vh;
    }
    #Importent_News .form {
    
        width: 70%;
    }
    img.logo{
      
        width: 30%;
        height: 2%;
       } 
    }



